.aboutCard {
    width: 22rem;
    aspect-ratio: 16 / 9;
    border: 2px solid var(--my-pink);
    border-radius: 22px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    z-index: -1;
}

.avatar {
    border: 2px solid var(--my-pink);
    border-radius: 50%;
    width:  4.5rem;
    height: 4.5rem;
    margin: 4px;
}

.infoBox {
    display: flex;
    flex-direction: column;
}

.infoBox > span {
    font-size: 0.9em;
}

.infoBox > hr {
    border: none;
    border-top: 2px dashed var(--my-pink);
    margin-top: 4px;
    width: 80%;
    align-self: center;
}

.infoBox > h3 {
    align-self: center;
    padding: 10px 0;
}

.infoBox > span {
    margin: 0.05rem 0;
    padding: 0.5rem;
}