.selectBox {
    outline: none;
    border: 1px dashed var(--my-pink);
    border-radius: 16px;
    width: 20%;
    text-align: center;
    font-size: 1em;
}

.selectBox > option {
    padding: 4px 6px;
    text-align: center;
}