* {
    margin: 0;
    padding: 0;

    font-family: 'Comfortaa', cursive;
    color: var(--font-main);

    --font-main: black;
    --font-secondary: silver;

    --my-pink: rgb(255, 192, 203);
    --hover: #7a7694;
}

html {
    scroll-behavior: smooth;
}

input::placeholder {
    color: var(--font-secondary);
}