* {
    margin: 0;
    padding: 0;

    font-family: 'Comfortaa', cursive;
    color: var(--font-main);

    --font-main: black;
    --font-secondary: silver;

    --my-pink: rgb(255, 192, 203);
    --hover: #7a7694;
}

html {
    scroll-behavior: smooth;
}

input::placeholder {
    color: var(--font-secondary);
}

/* CRINGE ZONE */

.page-wrapper {
    margin-top: 30px;
    display: flex;
}

.page {
    padding: 10px;
    border: 1px solid teal;
    cursor: pointer;
}

.page-current {
    border: 2px solid orange;
    font-weight: bold;
}