.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    width: 60%;
    gap: 1rem;
    padding: 1rem;
}

@media only screen and (max-width: 1140px) {
    .grid {
        width: 80%;
    }
}