.filtersWrapper {
    display: flex;
    width: 60%;
    column-gap: 1rem;
    justify-content: space-evenly;
    margin-top: 1rem;
}

@media only screen and (max-width: 1140px) {
    .filtersWrapper {
        width: 94%;
    }
}